<nav div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="navbar-brand">
                <a href="/"><h1><span>R</span>echerche de joueurs</h1></a>
            </div>

        </div>
        <div class="col-md-5">
            <form>
                Adresse email <input type="text" name="email"> <br>
                Mot de passe <input type="password" name="password" id="margin-left-3"> <input type="submit" value="Se connecter"> <br>
                <a href="/inscription">Pas encore inscrit? C'est par ICI</a>
            </form>
        </div>
    </div>
</nav>