{# Twig index du site #}
{% extends 'base.html.twig' %}

{% block body %}
        {{ include("nav.html.twig") }}



    <div class="slider">
        <div class="img-responsive">
            <ul class="bxslider">
                <li><img src="{{ asset('images/slider1.jpg') }}" alt="" /></li>
                <li><img src="{{ asset('images/slider2.jpg') }}" alt="" /></li>
                <li><img src="{{ asset('images/slider3.jpg') }}" alt="" /></li>
            </ul>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" >
                <p id="textaccueil">Vous êtes à la recherche d'information sur un club ou un joueur évoluant en Jupiler Pro League? Vous êtes au bonne endroit
                    ici vous pourrez trouver répondes à toutes vos questions. Vous avez accès à une liste des <a href="clubs.html">clubs</a>
                    ou des <a href="joueurs.html"> joueurs</a>. Ou alors vous avez la possibilité de faire une recherches en fonction de vos
                    souhait <a href="recherche.html">ici</a> </p>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>




{% endblock %}

