{% extends 'base.html.twig' %}

{% block body %}

    {{ include("nav.html.twig") }}

<section>
    <div class="jumbotron">
        <h2>Inscription</h2>
    </div>
    <div class="container" >
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <label>Nom</label><input id="nom" type="text"><br>
            <label id="inputprenom">Prénom</label> <input id="prenom" type="text"><br>
            <label id="inputadresse">Adresse email</label> <input id="mail" type="text"><br>
            <label id="inputmdp">Mot de passe</label> <input id="password" type="password"><br>
            <label id="inputconfirm">Confirmation MDP</label> <input id="" type="password"><br>
            <form>
                <input TYPE="submit" NAME="nom" VALUE="S'inscrire">
            </form>
        </div>
    </div>
    <div class="clear"></div>
</section>
{% endblock %}