{# Twig pour le formulaire d'edit de club #}
{% extends 'base.html.twig' %}
{% block body %}
    {{ include("nav.html.twig") }}

    <section>
        <div class="jumbotron">
            <h2>Update de club</h2>
        </div>
        <div class="container" >
            <div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {{ form(form) }}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
{% endblock %}